/* Common "reset" code ensuring consistent layout across different browsers */
/* Different browsers have different default margins and padding values */
* {
  margin: 0;
  padding: 0;
  /*Padding & border are included in CSS element width & height values*/
  box-sizing: border-box;
}

/* Defines global theme color variable that can be called anywhere */
:root {
  --themeColor: 29, 161, 242;
}

html {
  /*Sets default font size to 10px, 1rem=10px*/
  font-size: 62.5%;
  /*Page will scroll to sections after clicking on href links*/
  scroll-behavior: smooth;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #7393B3;
}

.header {
  /*Sets display behavior to flexbox, arranges children in a row*/
  display: flex;
  /*Element's defined boundaries*/
  padding: 2rem;
  /*Hides content beyond element's defined boundaries*/
  overflow: hidden;
  background-color:aliceblue;
  box-shadow: 0 10px 100px -5px #eee;
}

.header-img-cont {
  /*Element's defined boundaries*/
  margin-right: 1.5rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  /*Rounds corners of element, 10rem>>4rem so element becomes circular*/
  border-radius: 20rem;
  background: rgba(var(--themeColor), 1);
}

.header-img {
  /*Sets width & height to 100% the height of its container*/
  width: 100%;
  height: 100%;
  /*Image fills container with unaltered aspect ratio*/
  object-fit: cover;
}

.header-logo {
  font-size: 3rem;
  letter-spacing: 0.5px;
  color: #000;
}

.header-nav-links {
  /*Removes bullet points from list*/
  list-style-type: none;
}

.header-nav-link {
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  line-height: 25px;
  /*Round corners of box*/
  border-radius: 4px;
  /*Float link section to the right*/
  float: right;
}

/* Change the background color on mouse-over */
.header-nav-link:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header-nav-link.active {
  background-color: dodgerblue;
  color: white;
}

h1 {
  color: white;
  font-size: 20px;
}

p {
  color: white;
  text-align: left;
}
