/* Common "reset" code ensuring consistent layout across different browsers */
/* Different browsers have different default margins and padding values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Padding & border are included in CSS element width & height values*/
}

/* Defines global theme color variable that can be called anywhere */
:root {
  --themeColor: 29, 161, 242;
}

html {
  font-size: 62.5%; /*Sets default font size to 10px, 1rem=10px*/
  scroll-behavior: smooth; /*Page will scroll to sections after clicking on href links*/
}

/*Adjust font sizes with viewport widths*/
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 56%;
  }
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #7393B3;
}

/*Header*/

.header {
  display: flex; /*Sets display behavior to flexbox, arranges children in a row*/
  justify-content: space-between; /*Distributes items evenly from end-to-end of container*/
  align-items: center; /*Vertical alignment*/
  padding: 0.8rem 2.5rem; /*Element's defined boundaries*/
  /*position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/
  /*overflow: hidden;*/
  z-index: 1000; /*Ensures header stacks on top of all other elements*/
  background-color:aliceblue;
  box-shadow: 0 1rem 10rem -0.5rem #eee;
}

/*Adjust header display on smaller screens*/
@media (max-width: 37.5em) {
  .header {
    padding: 1.5rem 1.5rem;
  }
}

/*Combined image & name text to be closer together in header*/
.header-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-img-cont {
  /*Element's defined boundaries*/
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden; /*Hides content beyond element's defined boundaries*/
  border-radius: 20rem; /*Rounds corners of element, 20rem>>10rem so element becomes circular*/
  background: rgba(var(--themeColor), 1);
}

.header-img {
  /*Sets width & height to 100% the height of its container*/
  width: 100%;
  height: 100%;
  object-fit: cover; /*Image fills container with unaltered aspect ratio*/
}

.header-logo {
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #000;
}

.header-nav-links {
  display: flex;
  align-items: center;
  list-style: none; /*Removes bullet points from list*/
}

.header-nav-link {
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 4px; /*Round corners of box*/
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
}

/* Change the background color on mouse-over */
.header-nav-link:hover {
  background-color: #ddd;
  color: #000;
}

/* Style the active/current link*/
.header-nav-link.active {
  background-color: dodgerblue;
  color: white;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact-email {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
}

/*Adjust navigation links display on smaller screens*/
@media (max-width: 56.25em) {
  .header-nav-links {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 37.5em) {
  .header-nav-links {
    display: none;
  }
}

/*Hero Section*/

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rem;
  height: 100vh; /*Sets element height to 100% viewport height*/
  min-height: 80rem; /*Sets minimum height relative to root font size 16px*/
  max-height: 120rem; /*Sets maximum height relative to root*/
}

.hero-cont{
  max-width: 120rem;
  margin: auto; /*Centers element horizontally within parent container*/
  width: 90%; /*Sets width to 90% of parent container's width*/
}

.hero-text {
  margin-bottom: 5rem;
}

.hero-sm {
  font-size: 2rem;
  /*display: block;*/
  margin-bottom: 2.5rem;
}

.hero-main {
  font-size: 4.5rem;
  line-height: 1.3;
  font-weight: bold;
}

.hero-image {
  flex: 1;
}

.img-cont {
  /*Element boundaries*/
  margin-right: 1.5rem;
  width: 45rem;
  height: 45rem;
  overflow: hidden;
  border-radius: 100rem; /*Rounds corners of element, 100rem>>45rem so element becomes circular*/
  background: rgba(var(--themeColor), 1);
}

.img {
  /*Sets width & height to 100% the height of its container*/
  width: 100%;
  height: 100%;
  object-fit: cover; /*Image fills container with unaltered aspect ratio*/
}

h1 {
  color: white;
  font-size: 20px;
}

p {
  color: white;
  text-align: left;
}

.contact {
  /*background-color: white;*/
}